name: SpringBoot CI CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Get code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Install Java
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # 3. Build JAR
    - name: Build JAR
      run: mvn clean package -DskipTests

    # 4. Copy JAR to EC2
    - name: Copy jar to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        source: "target/*.jar"
        target: "/home/ubuntu/app"

    # 5. Restart application
    - name: Restart app on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          pkill -f 'java -jar' || true
          cd /home/ubuntu/app
           nohup java -jar springbootcicd-0.0.1.jar > app.log 2>&1 &
